<launch>
    <arg name="kinect_camera" default="camera"/>

     <param name="camera/driver/image_mode" value="6" />
     <param name="camera/driver/depth_mode" value="6" />
     <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="camera" value="$(arg kinect_camera)"/>
        <!-- Might publish rgb images faster if the following is false -->
        <arg name="depth_registration" value="false"/>
    </include>

</launch>
